# Postgres
POSTGRES_USER=astro
POSTGRES_PASSWORD=astro_pass
POSTGRES_DB=astra_db
DATABASE_URL=postgresql://astro:astro_pass@postgres:5432/astra_db

# Backends
JWT_SECRET=supersecret_jwt
INITIAL_DB_SQL=""

# Ports
WEB_PORT=3000
HTTP_BACKEND_PORT=4000
WS_BACKEND_PORT=5000
